*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: burlywood;
}

header{
    height: 40px;
    padding: 10px;
    display: flex;
    background-color: cornsilk;
}

main{
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
}

.grid{
    margin: 20px 0;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 10px;
    width: 100%;
}

.card{
    padding: 1rem;
    border: 2px solid black;
    border-radius: 16px;
    line-height: 2.5rem;
}

.card h2{
    font-size: 2rem;
}

.card h3{
    font-size: 1.5rem;
    font-style: italic;
}

footer{
    margin: 20px 0;
    padding: 20px 0;
    font-size: 1.4rem;
    text-align: center;
}